# Données MIMIC — jamais versionnées
data/
*.csv
*.parquet
*.feather
*.h5

# Python
venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Credentials
.env
config_local.py

# Modèles
models/*.pkl
models/*.joblib